.container {
  margin: 0 auto;
  outline: 2px solid gray;
  width: 1000px;
}

.header {
  background-color: #010632;
}

.header-link {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header-list {
  list-style: none;
  display: flex;
  gap: 61px;
  align-items: center;
  margin: 0;
}

.stand {
  font-size: 40px;
  font-weight: 700;
}

.stand1 {
  color: #0075FF;
  font-weight: 700;
}

.stand2 {
  color: #FFB800;
  font-weight: 700;
}

.section-bandera {
  background: url("../../images/bg-bandera@1x.jpg");
  height: 715px;
}

.title-bandera1 {
  color: #0075FF;
}

.title-bandera2 {
  color: #FFC700;
}

.title-bandera {
  font-size: 96px;
  font-weight: 900;
  font-family: "Jost", sans-serif;
}

.section-bandera {
  text-align: center;
  padding-top: 116px;
}

.section-money {
  background-color: #010632;
  display: flex;
  padding-top: 47px;
  padding-bottom: 58px;
}

.title-money {
  font-size: 38px;
  font-weight: 700;
  color: #FFFFFF;
  margin-top: 0px;
}

.diskripteon-money {
  font-size: 15px;
  font-weight: 400;
  color: #FFFFFF;
}

.wraper-money {
  width: 365px;
  outline: 1px solid red;
}

.wraper-zsu {
  width: 465px;
  outline: 1px solid red;
}

.zsu1 {
  width: 265px;
  margin-right: 25px;
}

.zsu2 {
  width: 165px;
}

.money-container {
  display: flex;
  justify-content: space-between;
}

.section-about-us {
  background-color: #060D49;
  padding-top: 29px;
  padding-bottom: 63px;
}

.wraper-zsu3 {
  outline: 1px solid red;
  display: flex;
  gap: 35px;
}

.about-us-container {
  display: flex;
}

.diskripteon-about {
  width: 414px;
  outline: 1px solid red;
}

.wraper-zsu4 {
  outline: 1px solid red;
}

.zsu3 {
  width: 365px;
  display: block;
}

.title-about-us {
  color: #fff;
  font-size: 30px;
}

.zsu3 {
  width: 265px;
  height: 161px;
}

.about-us-container {
  display: flex;
  justify-content: space-between;
}

.zsu4 {
  margin-top: 161px;
}

.diskripteon-about {
  color: #fff;
}

.section-help {
  background-color: #010632;
  text-align: center;
}

.help-ukraine {
  color: white;
  text-align: center;
}

.ukraine5 {
  width: 264px;
}

.ukraine4 {
  width: 230px;
  display: block;
}

.ukraine3 {
  width: 364px;
}

.ukraine2 {
  width: 364px;
  margin-bottom: 20px;
}

.ukraine1 {
  width: 364px;
}

.ukraine6 {
  width: 465px;
}

.container-blok1 {
  display: flex;
  outline: 1px solid red;
  width: 770px;
  margin-bottom: 20px;
}

.mini-blok {
  outline: 1px solid red;
  gap: 21px;
  margin-bottom: 20px;
}

.mini-block2 {
  display: flex;
  outline: 1px solid red;
  width: 770px;
  gap: 36px;
}

.big-block {
  display: flex;
}

.section-projekt {
  background-color: #060D49;
}

.projekt-item {
  outline: 1px solid red;
  width: 310px;
  padding-top: 10px;
  text-align: center;
}

.projekt-list {
  list-style: none;
  display: flex;
  gap: 35px;
  padding-left: 0;
}

.projekt-item {
  background-color: white;
}

.projekt-img {
  width: 250px;
  text-align: center;
  display: block;
  margin-left: 35px;
}

.projekt-title {
  font-size: 33px;
  text-align: center;
  margin-top: -1px;
}

.projekt-diskripteon {
  font-size: 20px;
  text-align: center;
  margin-top: -17px;
}

.title-zsu {
  font-size: 33px;
  text-align: center;
  color: white;
  margin-top: 10px;
}

.projekt-btn {
  background-color: #0057FF;
  color: white;
  border: none;
  padding: 13px 58px;
  border-radius: 15px;
  margin-bottom: 19px;
}

.line1 {
  width: 158px;
  height: 3px;
  background-color: #B9B9B9;
  margin: 0 auto;
  border-radius: 2px;
}

.line2 {
  width: 60px;
  height: 3px;
  background-color: #FFD600;
  border-radius: 3px;
}

footer {
  background-color: #010632;
}

.title-footer {
  text-align: center;
  display: block;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */