.section-about-us {
    background-color: #060D49;
}
.wraper-zsu3{
    outline: 1px solid red;
    

}
.about-us-container {
    display: flex;
}
.diskripteon-about {
    width: 414px;
    outline: 1px solid red;

}
.wraper-zsu4{
    outline: 1px solid red;
}