.section-projekt {
    background-color: #060D49;
}
.projekt-item {
    outline: 1px solid red;
    width: 310px;
}
.projekt-list {
    list-style: none;
    display: flex;
    gap: 35px;
    padding-left: 0;
}
.projekt-item {
    background-color: white;
    
}
.projekt-img {
    width: 311px;
}
.projekt-title{
    font-size: 33px;
    text-align: center;
}
.projekt-diskripteon {
    font-size: 20px;
    text-align: center;
}