.section-projekt {
    background-color: #060D49;
    margin-top: -10px;
    padding-top: 50px;
}
.projekt-item {
    outline: 1px solid red;
    width: 310px;
    padding-top: 10px;
    text-align: center;
}
.projekt-list {
    list-style: none;
    display: flex;
    gap: 35px;
    padding-left: 0;
}
.projekt-item {
    background-color: white;
    margin-bottom: 100px;
    
}
.shadow-pop-tr {
	animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

 @keyframes shadow-pop-tr {
    0% {
      box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
      transform: translateX(-8px) translateY(8px);
    }
  }
  
.projekt-img {
    width: 250px;
    text-align: center;
    display: block;
    margin-left: 35px;
    
}
.projekt-title{
    font-size: 33px;
    text-align: center;
    margin-top: -1px;
}
.projekt-diskripteon {
    font-size: 20px;
    text-align: center;
    margin-top: -17px;
}
.title-zsu {
    font-size: 33px;
    text-align: center;
color: white;
margin-top: 10px;
}
.text-focus-in {
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
  
.projekt-btn {
    background-color: #0057FF;
    color: white;
    border: none;
    padding: 13px 58px;
    border-radius: 15px;
    margin-bottom: 19px;
}
.flip-scale-up-hor:hover {
	animation: flip-scale-up-hor 0.5s linear both;
}

 @keyframes flip-scale-up-hor {
    0% {
      transform: scale(1) rotateX(0);
    }
    50% {
      transform: scale(1.5) rotateX(-90deg);
    }
    100% {
      transform: scale(1) rotateX(-180deg);
    }
  }
  
.line1{
width: 158px;
height: 3px; 
background-color: #B9B9B9;
margin: 0 auto;
border-radius: 2px;
}
.line2 {
width: 60px;
height: 3px;
background-color: #FFD600;
border-radius: 3px;

}
@media (min-width:768px ) and (max-width:1024px) {
  .projekt-list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 100px) and (max-width: 420px) {
.projekt-list {
  list-style: none;
  display: flex;
  gap: 0px;
  padding-left: 58px;
  flex-direction: column;
 }
}