.section-money {
    background-color: #010632;
}
.title-money {
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
}
.diskripteon-money {
    font-size: 24px;
font-weight: 400;
color: #FFFFFF;
}