.section-bandera {
    background: url("../../images/bg-bandera@1x.jpg");
    height: 715px;
}

.title-bandera1 {
    color: #0075FF;
}

.title-bandera2 {
    color: #FFC700;
}

.title-bandera {
    font-size: 96px;
    font-weight: 900;
    font-family: "Jost", sans-serif;
}

.section-bandera {
    text-align: center;
    padding-top: 116px;
}