.section-bandera {
    background: url("../../images/bg-bandera@1x.jpg");
    height: 715px;
}

.title-bandera1 {
    color: #0075FF;
}

.title-bandera2 {
    color: #FFC700;
}

.title-bandera {

    font-size: 96px;
    font-weight: 900;
    font-family: "Jost", sans-serif;
}
.focus-in-contract {
	animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @keyframes focus-in-contract {
    0% {
      letter-spacing: 1em;
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
  
.section-bandera {
    text-align: center;
    padding-top: 116px;
}
@media (min-width:768px ) and (max-width:1024px) {
  .title-bandera {
    font-size: 70px;

  }
  .section-bandera {
    height: 500px;
  }
}
@media (min-width:100px ) and (max-width:420px) {
  .title-bandera {
    font-size: 40px;

  }

  .section-bandera {
    height:400px ;
  }
}
