.section-help {
    background-color: #010632;
    text-align: center;
}

.help-ukraine {
    color: white;
    text-align: center;
}
.text-pop-up-top {
	animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @keyframes text-pop-up-top {
    0% {
      transform: translateY(0);
      transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      transform: translateY(-50px);
      transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  
.ukraine5{
width: 264px;
}
.ukraine4 {
width: 230px;
display: block;


}
.ukraine3 {
width: 364px;
}
.ukraine2{
width: 364px;
margin-bottom: 20px;
}
.ukraine1{
    width: 364px;
    

}
.ukraine6{
    width: 465px;
}
.container-blok1 {
    display: flex;
    outline: 1px solid red;
    width: 770px;
    margin-bottom: 20px;
}
.mini-blok{
    outline: 1px solid red;
    gap: 21px;
    margin-bottom: 20px;
}
.mini-block2{
display: flex;
outline: 1px solid red;
width: 770px;
gap: 36px;
}
.big-block{
    display: flex;
}